{% extends 'polls/base.html' %}

{% block content %}
<h1>{{ question_text }}</h1>
    {% if choices %}
        <form method="post" action="{% url 'question_details' question_id=id %}" aria-label="foo">
        {% csrf_token %}
        {% for choice in choices %}
            <input type="radio" name="choice" id="choice-{{ forloop.counter }}" value="{{ choice }}">
            <label for="choice-{{ forloop.counter }}">{{ choice }}</label>
        {% endfor %}
        <input type="submit" value="Vote">
        </form>
    {% else %}
        <p>
        This poll has no choices.
        </p>
    {% endif %}
{% endblock %}
