{% extends 'polls/base.html' %}

{% block content %}
    <h1>Polls</h1>
    {% if questions %}
        <table>
            <thead>
            <tr>
                <th>Poll Question</th>
            </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td><a href="{% url 'question_details' question_id=question.id %}">{{ question.question }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No questions to view.</p>
    {% endif %}
{% endblock %}
